*.pyc
/*.egg
/*.egg-info
/bin
/lib
/man
/include
/build
/.coverage
/.Python
/pip-log.txt
/xunit.xml
/coverage.xml
/debian/*.debhelper
/debian/*.log
/debian/*.substvars
/debian/files
/debian/*stamp*
/TAGS*
/.tag-source
/config.py
