Source: barker
Section: misc
Priority: extra
Maintainer: Paul Lathrop <paul@simplegeo.com>
Build-Depends: cdbs,
 debhelper (>= 7),
 python,
 python-support,
 python-setuptools,
 python-nose,
 python-coverage,
 python-eventlet,
 python-greenlet,
 python-kombu
Standards-Version: 3.8.4
Homepage: https://github.com/simplegeo/barker

Package: barker
Architecture: all
Depends: ${shlibs:Depends},
 ${misc:Depends},
 python,
 python-eventlet,
 python-greenlet,
 python-kombu
Description: A suite of pluggable tools which help you manage groups of servers.
 A suite of pluggable tools which help you manage groups of
 servers. Currently allows you to create arbitrary metadata and
 publish it to a queue.
